
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Al Mehdi Solutions: Empowering Businesses with IT Excellence</h1>
                    <p class="lead fw-normal text-muted mb-4">At Al Mehdi Solutions, we specialize in providing customized IT solutions, including .NET CRM development and creative graphic design services. Our mission is to help businesses enhance their operations through advanced technology solutions tailored to their specific needs.</p>
                    <a class="btn btn-primary btn-lg" href="#services">Explore Our Services</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About section one-->
<section class="py-5 bg-light" id="services">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/home/image/WhatsApp1.jpg" alt="Real Estate Project" /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Real Estate Clients: Tailored IT Solutions</h2>
                <p class="lead fw-normal text-muted mb-0">Al Mehdi Solutions has successfully delivered bespoke IT solutions for our real estate clients. From CRM systems designed to manage property listings and client relationships to creating visually stunning websites for showcasing properties, we help real estate businesses stay ahead in the competitive market.</p>
            </div>
        </div>
    </div>
</section>

<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/home/image/WhatsApp5_12_12_2024_14_12_2024.jpg" alt="Dentist Project" /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Dentist Clients: Building a Strong Digital Presence</h2>
                <p class="lead fw-normal text-muted mb-0">We have also worked with dental clinics to develop IT solutions that enhance their customer experience. From customized CRM solutions to efficient appointment management systems, Al Mehdi Solutions has helped dentists streamline their operations while also offering professional and user-friendly website designs that attract and retain patients.</p>
            </div>
        </div>
    </div>
</section>


